.mobile-view-all {
	display: none;
}

@media screen and (max-width: 768px){
	.mobile-view-all {
		display: block;
	}
	.mobile-view-all a {
		text-decoration: none;
	}
	.hp-logo-container{
		width: 155px;
		margin: 0 0px 0 -18px;
	}
	.plrt15-50 {
		padding: 15px 15px !important;
	}

	.p10 {
		margin: 10px 0px;
	}
	.coupon-title-wrapper
	{
		max-height: 1.5em;
	}
	.coupon-price-wrapper {

		padding-left: 10px;
		top: -18px;
		text-align : left;
	}
	.coupon-container .coupon-title {
		font-size: 13px;	
	}
	.coupon-details-btm {
		min-height: 100px;
    	height: 56px;
	}
	.account-links li i {
		margin-left: -13px;
    	margin-top: 10px;
	}
	.account-links li p {
		width: 85%;
		line-height: 20px !important;
	}
	 .sidebar .nav .account-links li:hover>a {
		background: transparent !important;
		text-decoration: none;
	}
	.content.height100.p0 .col-lg-8.col-md-8.col-sm-6.height100.p0  {
		display: none;
	}
	.alignVMiddle.top-pad {
   		padding-top: 26vh;
 	}
 	.nav-pills-purple.border-bottom-color li {
    	/*margin: 17px; */
	}
	.tab-pane .nav-pills-purple.border-bottom-color li a
	{
		padding: 6px 5px;
	}
	.tab-pane .nav-pills-purple.border-bottom-color li {
		margin: 0px !important;
	}
	.nav-pills-purple.border-bottom-color li.active {
		/*padding :2px !important;*/
	}
	.percentage-width li {
		width: 19%;
	}
	.nav-pills-purple.border-bottom-color li.active {
		border-bottom: 0px solid #329fd6;
    	padding: 4px 1px;
    	/*margin: 0;*/
	}
	.nav-pills>li>a {
		min-width: 90px !important; 
	}
	.nav-pills-purple.border-bottom-color li {
		padding : 0px !important;
		margin-left: 0px;
	    margin-right: 41px;
	    margin-bottom: 20px;
	}
	.nav-pills-purple.border-bottom-color li a {
		padding : 7px 5px;
	}
	span.pull-left.save-amount {
		margin-top: -20px;
	    float: right !important;
	    font-size: 40px;
	}
	span.pull-right.cashback-amount {
		margin-top: -20px;
	    float: left !important;
	    font-size: 40px;
	}
}
@media screen and (max-width: 412px){
	.modal-open .modal {
		max-width: 400px;
    	display: none;
    	position: absolute;
	}
	ul.nav.nav-pills.nav-pills-purple.percentage-width.border-bottom-color.m0 {

		max-height: 70px;
	    line-height: 2em;
	    overflow: hidden;
	}
	.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
		width: auto !important;
	}

}

#recharge .nav-pills>li.active>a, #recharge .nav-pills>li.active>a:focus, #recharge .nav-pills>li.active>a:hover {
    color: #673bb7 !important;
	background-color:rgba(200, 200, 200, 0.2) !important; 
    /*box-shadow: -2px 3px 13px -1px rgba(0, 0, 0, 0.4), 0 7px 10px -5px rgba(156, 39, 176, 0.4) !important;*/
}